<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
        <!-- Import fancy-type plugin. -->
        <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <h1>Hello</h1>
            </div>
            <hr />
            <div id="subheader">
                <h3 class="alt">Subhello</h3>
            </div>

            <hr />
            <div class="span-17 colborder" id="content">
                <p>{{{Content}}}</p>
{{#entries}}
<p>{{Title}}</p>
<p>{{Body}}</p>
{{/entries}}
{{^entries}}
<h2>No entries. This is most likely an error.</h2>
{{/entries}}
            </div>

            <div class="span-6 last" id="sidebar">
                <p>Sidebar</p>
                <img src="vim_created.png" />
                <img src="gopher.png" />
                <div class="info" style="text-align: center">
                    Powered by <a href="http://golang.org/">Go</a>
                </div>
            </div>

            <hr />
            <div id="footer" />
        </div>
    </body>
</html>
