input[type="button"].inline {
    margin-bottom: 0px;
    padding: 4px 10px;
    vertical-align: text-bottom;
}
.post-body {
    font-family: Verdana, Geneva, sans-serif;
}
.post-body * code {
    font-family: Consolas,monospace;
    background: black;
    color: #3f3;
}
.post-body pre {
    background: black;
    margin: 0 0 1em 0;
    padding: 0.5em;
    overflow-x: auto;
}
.post-body * img {
    max-width: 100%;
}
.user-supplied-text * a {
    color: #11a;
}
.flash-box {
    background-color: #faafb4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 4px;
    text-align: center;
    margin-bottom: 0.5em;
}
.flash-box p {
    margin: 0;
    padding-top: 4px;
    font-weight: bold;
}
