ul {
    list-style: disc inside;
    padding: 0;
}
h1 { line-height: 50px; }
h2 { line-height: 40px; }
h3 { line-height: 34px; }
h4 { line-height: 30px; }
h5 { line-height: 24px; }
h6 { line-height: 21px; }
