<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>403</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css" title="text/css">
            .centered {
                text-align: center;
            }
            h2.centered {
                margin-bottom: 0;
                margin-top: -0.1em;
                color: #373;
            }
        </style>
    </head>
    <body>
        <div style="margin-top: 100px;">
            <h2 class="centered">403</h2>
            <h2 class="centered">Verboten</h2>
            <p class="centered"><strong>You do not have access to this part.</strong><br />
            Try <a href="/login">logging in</a> or navigate
            <a href="/">somewhere else</a>.</p>
        </div>
    </body>
</html>
