<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css" title="text/css">
            .centered {
                text-align: center;
            }
            h2.centered {
                margin-bottom: 0;
                margin-top: -0.1em;
                color: #373;
            }
        </style>
    </head>
    <body>
        <div style="margin-top: 100px;">
            <h2 class="centered">404</h2>
            <h2 class="centered">Page Not Found</h2>
            <p class="centered"><strong>Why, you ask?</strong><br />
            It may be a broken link, you may mistyped the URL,<br />
            I might have moved the page or my site is experiencing<br />
            technical problems. Or maybe it's not implemented yet.</p>
        </div>
    </body>
</html>
