{{define "title"}}Admin{{end}}
{{define "extrahead"}}
    <link rel="stylesheet" href="/static/css/pagedown.css">
    <script type="text/javascript" src="/static/js/pagedown-bundle.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
{{end}}
{{define "content"}}

    {{template "header" .}}

    <hr />

    <div class="twelve columns content" id="content">
    <input
        id="new-post-button"
        type="button"
        onclick="location.href = '/edit_post'"
        value="New Post"
        />
    <input
        id="display-all-comments"
        type="button"
        onclick="location.href = '/all_comments'"
        value="All Comments"
        />
    <br />

    <hr />
        <label for="post_dropdown">Post:</label>
        <select id="post_dropdown" onchange="retrieveComments(this.value);">
            <option value="" style="display:none;" selected></option>
        {{range .entries}}
            <option value="{{.Url}}">{{.Title}}</option>
        {{end}}
        </select>
        <br />
        <label for="comments_dropdown">Comments:</label>
        <select id="comments_dropdown">
        </select>
        <br />
        <label for="wmd-input">Post text:</label>
        <div class="wmd-panel container">
            <div class="row">
                <div id="wmd-preview" class="wmd-preview twelve columns">
                </div>
            </div>
            <div class="row">
                <div id="wmd-button-bar">
                </div>
            </div>
            <textarea
                id="wmd-input"
                class="wmd-input twelve columns"
                name="text"
                placeholder="Have a say"
                ></textarea>
        </div>
    </div>

    {{template "sidebar" .}}

    <hr />
    <div id="footer">
    </div>

{{end}}
{{define "extrascripts"}}
        <script type="text/javascript">
        (function () {
             var editor = new Markdown.Editor(getConverter());
             editor.run();
             })();

        function makeCommentList(post) {
            var result = "";
            for (i in post.Comments) {
                var c = post.Comments[i];
                result += "<option value=\"" + c.Name + "\">" + c.RawBody + "</option>";
            }
            return result;
        }

        function retrieveComments(postUrl) {
            var xhr;
            try {
                xhr = new ActiveXObject('Msxml2.XMLHTTP');
            } catch (e) {
                try {
                    xhr = new ActiveXObject('Microsoft.XMLHTTP');
                } catch (e2) {
                    try {
                        xhr = new XMLHttpRequest();
                    } catch (e3) {
                        xhr = false;
                    }
                }
            }

            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4) {
                    if(xhr.status == 200) {
                        var post = JSON.parse(xhr.responseText);
                        document.getElementById('wmd-input').innerHTML = post.RawBody;
                        document.getElementById('comments_dropdown').innerHTML = makeCommentList(post);
                    } else {
                        document.getElementById('comments_dropdown').innerHTML = xhr.status;
                    }
                }
            };

            try {
                xhr.open("GET", "load_comments?post=" + postUrl, true);
                xhr.send(null);
            } catch (err) {
                alert("exc: " + err);
            }
        }
        </script>
{{end}}
