{{define "title"}}{{L10n "Admin"}}{{end}}
{{define "extrahead"}}
    <link rel="stylesheet" href="/static/css/pagedown.css">
    <script type="text/javascript" src="/static/js/pagedown-bundle.js"></script>
{{end}}
{{define "content"}}

    {{template "header" .}}

    <hr />

    <div class="twelve columns content" id="content">
    {{.Flashes}}
    <div class="twelve columns" id="buttons-row">
    <input
        id="new-post-button"
        type="button"
        onclick="location.href = '/edit_post'"
        value="{{L10n "New Post"}}"
        />
    <input
        id="display-all-comments"
        type="button"
        onclick="location.href = '/all_comments'"
        value="{{L10n "All Comments"}}"
        />
    <input
        id="edit-author"
        type="button"
        onclick="location.href = '/edit_author'"
        value="{{L10n "Edit Author Profile"}}"
        />
    </div>

    <hr />
        <label for="post_dropdown">Post:</label>
        <select id="post_dropdown" onchange="retrieveComments(this.value);">
            <option value="" style="display:none;" selected></option>
        {{range .entries}}
            <option value="{{.URL}}">{{.Title}}</option>
        {{end}}
        </select>
        <br />
        <label for="comments_dropdown">Comments:</label>
        <select id="comments_dropdown">
        </select>
    </div>

    {{template "sidebar" .}}

    <hr />
    <div id="footer">
    </div>

{{end}}
{{define "extrascripts"}}
        <script type="text/javascript">
        function makeCommentList(post) {
            var result = "";
            for (i in post.Comments) {
                var c = post.Comments[i];
                result += "<option value=\"" + c.Name + "\">" + c.RawBody + "</option>";
            }
            return result;
        }

        function retrieveComments(postUrl) {
            var xhr;
            try {
                xhr = new ActiveXObject('Msxml2.XMLHTTP');
            } catch (e) {
                try {
                    xhr = new ActiveXObject('Microsoft.XMLHTTP');
                } catch (e2) {
                    try {
                        xhr = new XMLHttpRequest();
                    } catch (e3) {
                        xhr = false;
                    }
                }
            }

            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4) {
                    if(xhr.status == 200) {
                        var post = JSON.parse(xhr.responseText);
                        document.getElementById('wmd-input').innerHTML = post.RawBody;
                        document.getElementById('comments_dropdown').innerHTML = makeCommentList(post);
                    } else {
                        document.getElementById('comments_dropdown').innerHTML = xhr.status;
                    }
                }
            };

            try {
                xhr.open("GET", "load_comments?post=" + postUrl, true);
                xhr.send(null);
            } catch (err) {
                alert("exc: " + err);
            }
        }
        </script>
{{end}}
