{{define "title"}}{{.PageTitle}}{{end}}
{{define "extrahead"}}{{end}}
{{define "content"}}

    {{template "header" .}}

    <hr />
    <div class="twelve columns content" id="content">
        <p>{{.HeadingText}}</p>
        {{range .all_entries}}
            {{template "post-title" dict "EntryLink" . "AdminLogin" $.AdminLogin}}
            <br />
        {{else}}
        <h2>{{L10n "No entries, yet. Welcome and start"}}
            <a href="/edit_post">{{L10n "writing."}}</a></h2>
        {{end}}
    </div>

    {{template "sidebar" .}}

    <hr />
    <div id="footer">
    </div>

{{end}}
{{define "extrascripts"}}{{end}}
