{{define "title"}}{{L10n "Edit Post"}}{{end}}
{{define "extrahead"}}
    <link rel="stylesheet" href="/static/css/pagedown.css">
    <link href="/static/css/jquery.tagit.css" rel="stylesheet" type="text/css">
    <link href="/static/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/pagedown-bundle.js"></script>
    <script type="text/javascript" src="/static/js/bundle.js"></script>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
    <style>
    #upload-progress-section p {
        display: block;
        width: 240px;
        padding: 2px 5px;
        margin: 2px 0;
        border: 1px inset #446;
        border-radius: 5px;
        background: #eee url("/static/progress.png") 100% 0 repeat-y;
    }
    #upload-progress-section p.success {
        background: #0c0 none 0 0 no-repeat;
    }
    #upload-progress-section p.failed {
        background: #c00 none 0 0 no-repeat;
    }
    </style>
{{end}}
{{define "content"}}

    {{template "header" .}}

    <hr />
    <form
        id="edit-post-form"
        action="submit_post"
        method="post"
        onsubmit="return validatePostForm()"
        >
    <div class="twelve columns content" id="content">
        {{with .post}}
        <label for="post_title">{{L10n "Title:"}}</label>
        <input
            id="post_title"
            type="text"
            class="text"
            name="title"
            value="{{.Title}}"
            />
        <br />
        <label for="post_url">{{L10n "Url:"}}</label>
        <input
            id="post_url"
            type="text"
            class="text"
            name="url"
            value="{{.URL}}"
            />
        <br />
        <label for="post_tags_widget">{{L10n "Tags:"}}</label>
        <ul
            id="post_tags_widget"
            ></ul>
        <input
            id="post_tags"
            name="tags"
            type="hidden"
            value="{{.TagsList}}"
            />
        <br />
        <input
            id="post-hidden"
            type="checkbox"
            class="text"
            name="hidden"
            {{if $.IsHidden}}
            checked
            {{end}}
            />
        {{L10n "Hidden"}}
        <br />

        <div id="upload-progress-section"></div>
        <input
            id="upload-file-button"
            type="button"
            value="{{L10n "Upload File"}}"
            />

        <label class="twelve columns" for="wmd-input">{{L10n "Post text:"}}</label>
        <div class="wmd-panel container">
            <div class="row">
                <div id="wmd-preview" class="wmd-preview twelve columns">
                </div>
            </div>
            <div class="row">
                <div id="wmd-button-bar">
                </div>
            </div>
            <textarea
                id="wmd-input"
                class="wmd-input twelve columns"
                name="text"
                >{{.RawBody}}</textarea>
        </div>
        <input
            id="submit-post-edit"
            type="submit"
            value="{{L10n "Submit"}}"
            />
        <input
            type="button"
            onclick="deleteWithConfirm('{{.URL}}')"
            value="{{L10n "Delete!"}}"
            />
        <input id="fileid" type="file" name="file" style="visibility:hidden" />
        {{end}}
    </div>
    </form>

    {{template "sidebar" .}}

    <hr />
    <div id="footer">
    </div>

{{end}}
{{define "extrascripts"}}
        <script type="text/javascript">
        (function() {
             var fileid = document.getElementById('fileid');
             fileid.onchange = uploadProgress;
             var uploadFileButton = document.getElementById('upload-file-button');
             uploadFileButton.onclick = forwardClickToFileid;
             getPagedownEditor().run();
             var sampleTags = {{.AllTags}};
             $('#post_tags_widget').tagit({
                 availableTags: sampleTags,
                 singleField: true,
                 singleFieldNode: $('#post_tags')
             });
         }());

        function deleteWithConfirm(postUrl) {
            var q = "{{L10n "You are about to delete this post!\nThis cannot be undone!"}}";
            if (confirm(q)) {
                var url = "/delete_post?id=" + postUrl;
                window.open(url, '_self', false);
            }
        }
        </script>
{{end}}
