<div id="header">
    <br />
    <div class="twelve columns content">
    <a href="/"><h1>{{BlogTitle}}</h1></a>
    </div>
    {{#AdminLogin}}
    <div style="text-align: right" class="four columns omega" id="logout">
        <a href="/admin">Admin</a>
        -
        <a href="/logout">Logout</a>
    </div>
    {{/AdminLogin}}
    {{^AdminLogin}}
    <div style="text-align: right" class="four columns omega" id="login">
        <a href="/login">Login</a>
    </div>
    {{/AdminLogin}}
</div>
<hr />
<div id="subheader">
    <h3>{{BlogSubtitle}}</h3>
</div>
