<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <title>{{{PageTitle}}}</title>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <br />
                <h1>Login</h1>
            </div>
            <hr />

            <div id="content">
                {{#LoginFailed}}
                <p style="color: red"><strong>
                    Login failed.
                </strong></p>
                {{/LoginFailed}}
                <form action="login_submit" method="post" id="login_form">
                    <div><input class="text" name="uname" placeholder="Username" type="text" autofocus="autofocus" /></div>
                    <div><input class="text" name="passwd" placeholder="Password" type="password" /></div>
                    <div><input type="submit" value="Login" /></div>
                    <input type="hidden" name="redirect_to" value="{{RedirectTo}}"/>
                </form>
            </div>
        </div>
    </body>
</html>
