<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{{PageTitle}}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <style>
            input[type="button"].inline {
                margin-bottom: 0px;
                padding: 4px 10px;
                vertical-align: text-bottom;
            }
            #post-body * code {
                font-family: Consolas,monospace
            }
            #post-body * img {
                max-width: 100%;
            }
            .user-supplied-text * a {
                color: #11a;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {{> header}}

            <hr />
            <div class="twelve columns content" id="content">
{{#entries}}
<h3 class="strong twelve columns container">
{{> post-title}}
</h3>
{{> author}}
<hr />
<div id="post-body" class="user-supplied-text nine columns container">{{{Body}}}</div>
<div class="three columns container">&nbsp;</div>
    <div class="twelve columns container">
    {{#HasTags}}
    <div id="tags" class="nine columns alpha">
    <strong>Tags:</strong>
    {{/HasTags}}
    {{{TagsStr}}}
    {{#HasTags}}
    <br />
    <br />
    </div>
    {{/HasTags}}
    {{^HasTags}}
    <div id="tags" class="nine columns alpha">
        &nbsp;
    </div>
    {{/HasTags}}
    <div class="three columns omega">
        <a href="/{{Url}}#comments">{{NumComments}} comments</a>
    </div>
    </div>
{{/entries}}
{{^entries}}
<h2>No entries. This is most likely an error.</h2>
{{/entries}}
            </div>

            {{> sidebar}}

            <hr />
            <div id="footer">
                <div class="twelve columns content" id="pager">
                    <div style="text-align: center">
                        {{#NeedPagination}}
                        Pages:
                        {{{ListOfPages}}}
                        {{/NeedPagination}}
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
