<a id="post" href="/{{Url}}">{{Title}}</a>
{{#AdminLogin}}
<input
    id="edit-post-button"
    type="button"
    class="inline"
    onclick="location.href = '/edit_post?post={{Url}}'"
    value="Edit"
    />
    {{#Hidden}}
    <strong>(Hidden)</strong>
    {{/Hidden}}
{{/AdminLogin}}
