<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{{PageTitle}}}</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/pagedown.css">
        <script type="text/javascript" src="/js/Markdown.Converter.js"></script>
        <script type="text/javascript" src="/js/Markdown.Sanitizer.js"></script>
        <script type="text/javascript" src="/js/Markdown.Editor.js"></script>
        <style type="text/css">
            .body-container {
                background: #eee;
            }
            #comment-container {
                position: relative;
            }
            #commenter-avatar {
                float: left;
                margin-right: 8px;
            }
            #commenter {
                position: relative;
                vertical-align: bottom;
                line-height: 1.1em;
                margin-bottom: 0.5em;
            }
            a.dimmed {
                color: gray;
            }
            p {
                margin: 0 0 0.5em;
            }
            input[type="button"].inline {
                margin-bottom: 0px;
                padding: 4px 10px;
                vertical-align: text-bottom;
            }
            #post-body * code {
                font-family: Consolas,monospace
            }
            #post-body * img {
                max-width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <br />
                {{> header}}
            </div>
            <hr />
            <div id="subheader">
                <h3 class="alt">Subhello</h3>
            </div>

            <hr />
            <div class="twelve columns content" id="content">
{{#entry}}
<h3 class="strong"><a href="{{Url}}">{{Title}}</a>
{{#AdminLogin}}
<input
    id="edit-post-button"
    type="button"
    class="inline"
    onclick="location.href = '/edit_post?post={{Url}}'"
    value="Edit"
    />
{{/AdminLogin}}
</h3>
{{> author}}
<hr />
<div id="post-body" class="nine columns container">{{{Body}}}</div>
<div class="three columns container">&nbsp;</div>
    <div class="twelve columns container">
    {{#HasTags}}
    <div class="nine columns alpha" id="tags">
    <b>Tags:</b>
    {{/HasTags}}
    {{{TagsStr}}}
    {{#HasTags}}
    <br />
    <br />
    </div>
    {{/HasTags}}
    {{^HasTags}}
    <div class="nine columns alpha">
        &nbsp;
    </div>
    {{/HasTags}}
    <div class="three columns omega">
        &nbsp;
    </div>
    </div>

    <div class="twelve columns container" id="comments">
        {{#HasComments}}
        <div class="nine columns alpha">
        <b>Comments:</b>
        </div>
        <div class="twelve columns">
            <hr />
        </div>
        <div class="twelve columns">
            {{#Comments}}
            <div id="comment-container">
                <img id="commenter-avatar" src="http://www.gravatar.com/avatar/{{EmailHash}}?d=mm" />
                <div id="commenter">
                    <p><b>{{Name}}</b>
                    {{#AdminLogin}}
                    &lt;<a href="mailto:{{Email}}">{{Email}}</a>&gt;
                    {{/AdminLogin}}
                    <br />
                    <a class="dimmed" href="#comment-{{CommentId}}" name="comment-{{CommentId}}">{{Time}}</a><br />
                    </p>
                </div>
                <div id="comment-text-{{CommentId}}"
                    class="body-container"
                    {{#AdminLogin}}
                    onclick="toggleEdit('{{CommentId}}')"
                    {{/AdminLogin}}
                    >
                    {{{Body}}}
                </div>
                {{#AdminLogin}}
                <form
                    id="edit-comment-form"
                    action="moderate_comment?action=edit&redirect_to={{Url}}"
                    method="post"
                    >
                    <div class="twelve columns">
                        <textarea
                            id="edit-comment-{{CommentId}}"
                            style="display: none; width: 100%;"
                            name="text"
                            >{{{RawBody}}}</textarea>
                    </div>
                    <div class="eight columns alpha">
                        <input
                            type="hidden"
                            name="id"
                            value="{{CommentId}}"
                            />
                        <input
                            id="submit-comment-{{CommentId}}"
                            type="button"
                            style="display: none;"
                            onclick="submit({{CommentId}}, '{{Url}}')"
                            value="Submit"
                            />
                        <input
                            id="cancel-edit-comment-{{CommentId}}"
                            type="button"
                            style="display: none;"
                            onclick="cancel({{CommentId}})"
                            value="Cancel"
                            />
                        &nbsp;
                    </div>
                    <div id="comment-admin" style="text-align: right" class="four columns omega">
                        <input
                            id="delete-comment-button-{{CommentId}}"
                            type="button"
                            onclick="deleteWithConfirm({{CommentId}}, '{{Url}}')"
                            value="Delete!"
                            />
                        <input
                            id="edit-comment-button-{{CommentId}}"
                            type="button"
                            onclick="toggleEdit({{CommentId}})"
                            value="Edit"
                            />
                    </div>
                </form>
                {{/AdminLogin}}
            </div>
            <br />
            <hr />
            {{/Comments}}
        </div>
        {{/HasComments}}
        {{^HasComments}}
        <div class="nine columns alpha">
            &nbsp;
        </div>
        <div class="three columns omega">
            <p>No comments yet</p>
        </div>
        {{/HasComments}}
    </div>

    <form id="comment" action="comment_submit" method="post">
    <div class="twelve columns container">
        <div class="row clearfix">
            <div class="four columns">
                <div><input class="text" name="name" placeholder="Name" type="text" /></div>
                <div><input class="text" name="email" placeholder="Email (will stay private)" type="text" /></div>
                <div><input class="text" name="website" placeholder="Web site" type="text" /></div>
            </div>
        </div>

        <div class="wmd-panel container">
            <div class="row">
                <div id="wmd-preview" class="wmd-preview twelve columns">
                </div>
            </div>
            <div class="row">
                <div id="wmd-button-bar">
                </div>
            </div>
            <textarea
                id="wmd-input"
                class="wmd-input twelve columns"
                name="text"
                placeholder="Have a say"
                ></textarea>
        </div>
    </div>
    <div class="twelve columns container"><input type="submit" value="Submit" /></div>
    </form>
{{/entry}}
            </div>

            {{> sidebar}}

            <hr />
            <div id="footer"></div>
        </div>
        <script type="text/javascript">
        (function () {
             var converter = new Markdown.getSanitizingConverter();
             var editor = new Markdown.Editor(converter);
             editor.run();
             })();

        function showElement(id, visible) {
            elem = document.getElementById(id);
            elem.style.display = visible ? 'inline-block' : 'none';
            return elem;
        }

        function toggleEdit(id) {
            d = document.getElementById('comment-text-' + id);
            var w = d.offsetWidth;
            var h = d.offsetHeight;

            if (h < 50)
                h = 50;

            d.style.display = 'none';
            e = showElement('edit-comment-' + id, true);
            e.style.height = h + "px";

            showElement('submit-comment-' + id, true);
            showElement('cancel-edit-comment-' + id, true);
            showElement('edit-comment-button-' + id, false);
        }

        function submit(id, redirectTo) {
            window.location.href = "/moderate_comment?id=" + id
                                   + "&action=edit&redirect_to=" + redirectTo;
        }

        function cancel(id) {
            showElement('comment-text-' + id, true);
            showElement('edit-comment-' + id, false);
            showElement('submit-comment-' + id, false);
            showElement('cancel-edit-comment-' + id, false);
            showElement('edit-comment-button-' + id, true);
        }

        function deleteWithConfirm(id, redirectTo) {
            if (confirm('You are about to delete this comment!\nThis cannot be undone!')) {
                var url = "/delete_comment?id=" + id
                          + "&action=delete&redirect_to=" + redirectTo;
                window.open(url, '_self', false);
            }
        }
        </script>
    </body>
</html>
