<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
        <link rel="stylesheet" href="/css/pagedown.css" type="text/css" />
        <!--[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
        <!-- Import fancy-type plugin. -->
        <title>{{{PageTitle}}}</title>
        <script type="text/javascript" src="/js/Markdown.Converter.js"></script>
        <script type="text/javascript" src="/js/Markdown.Sanitizer.js"></script>
        <script type="text/javascript" src="/js/Markdown.Editor.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <br />
                <a href="/"><h1>Home</h1></a>
            </div>
            <hr />
            <div id="subheader">
                <h3 class="alt">Subhello</h3>
            </div>

            <hr />
            <div class="span-17 colborder" id="content">
{{#entry}}
<h3 class="strong"><a href="{{Url}}">{{Title}}</a></h3>
{{> author}}
<hr />
<div>{{{Body}}}</div>
    <div class="container">
    {{#HasTags}}
    <div class="span-11" id="tags">
    <b>Tags:</b>
    {{/HasTags}}
    {{{TagsStr}}}
    {{#HasTags}}
    <br />
    <br />
    </div>
    {{/HasTags}}
    {{^HasTags}}
    <div class="span-11">
        &nbsp;
    </div>
    {{/HasTags}}
    <div class="span-6">
        &nbsp;
    </div>
    </div>

    <form action="comment_submit" method="post" id="comment">
    <div class="container">
            <div><input class="text" name="name" placeholder="Name" type="text" /></div>
            <div><input class="text" name="email" placeholder="Email (will stay private)" type="text" /></div>
            <div><input class="text" name="website" placeholder="Web site" type="text" /></div>

            <div class="wmd-panel">
            <div id="wmd-preview" class="wmd-panel wmd-preview">
            </div>
            <div id="wmd-button-bar">
            </div>
            <textarea class="wmd-input span-17" name="text" placeholder="Have a say" id="wmd-input"></textarea>
            </div>
    </div>
    <div><input type="submit" value="Submit" /></div>
    </form>
{{/entry}}
            </div>

            <div class="span-6 last" id="sidebar">
                <p>Recent entries:</p>
                <div>
{{#entries}}
<b><a href="{{Url}}">{{Title}}</a></b> <br />
{{/entries}}
                </div>
                <br />
                <br />
                <img src="vim_created.png" />
                <img src="gopher.png" />
                <div class="info" style="text-align: center">
                    Powered by <a href="http://golang.org/">Go</a>
                </div>
            </div>

            <hr />
            <div id="footer" />
        </div>
        <script type="text/javascript">
        (function () {
             var converter = new Markdown.getSanitizingConverter();
             var editor = new Markdown.Editor(converter);
             editor.run();
             })();
        </script>
    </body>
</html>
