<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{{PageTitle}}}</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/pagedown.css">
        <script type="text/javascript" src="/js/Markdown.Converter.js"></script>
        <script type="text/javascript" src="/js/Markdown.Sanitizer.js"></script>
        <script type="text/javascript" src="/js/Markdown.Editor.js"></script>
        <style type="text/css">
            .body-container {
                background: #eee;
            }
            #comment-container {
                position: relative;
            }
            #commenter-avatar {
                float: left;
                margin-right: 8px;
            }
            #commenter {
                position: relative;
                vertical-align: bottom;
                line-height: 1.1em;
                margin-bottom: 0.5em;
            }
            a.dimmed {
                color: gray;
            }
            p {
                margin: 0 0 0.5em;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <br />
                {{> header}}
            </div>
            <hr />
            <div id="subheader">
                <h3 class="alt">Subhello</h3>
            </div>

            <hr />
            <div class="twelve columns content" id="content">
{{#entry}}
<h3 class="strong"><a href="{{Url}}">{{Title}}</a></h3>
{{> author}}
<hr />
<div>{{{Body}}}</div>
    <div class="container">
    {{#HasTags}}
    <div class="ten columns alpha" id="tags">
    <b>Tags:</b>
    {{/HasTags}}
    {{{TagsStr}}}
    {{#HasTags}}
    <br />
    <br />
    </div>
    {{/HasTags}}
    {{^HasTags}}
    <div class="ten columns alpha">
        &nbsp;
    </div>
    {{/HasTags}}
    <div class="two columns omega">
        &nbsp;
    </div>
    </div>

    <div class="container" id="comments">
        {{#HasComments}}
        <div class="ten columns alpha">
        <b>Comments:</b>
        </div>
        <div class="twelve columns">
            <hr />
        </div>
        <div class="twelve columns">
            {{#Comments}}
            <div id="comment-container">
                <img src="http://www.gravatar.com/avatar/{{EmailHash}}?d=mm" id="commenter-avatar" />
                <div id="commenter">
                    <p><b>{{Name}}</b>
                    {{#AdminLogin}}
                    &lt;<a href="mailto:{{Email}}">{{Email}}</a>&gt;
                    {{/AdminLogin}}
                    <br />
                    <a class="dimmed" href="#comment-{{CommentId}}" name="comment-{{CommentId}}">{{Time}}</a><br />
                    </p>
                </div>
            </div>
            <div class="body-container" id="comment-text-{{CommentId}}"
            {{#AdminLogin}}
                    onclick="toggleEdit('{{CommentId}}')"
            {{/AdminLogin}}
                    >
                {{{Body}}}
            </div>
            {{#AdminLogin}}
            <textarea style="display: none;" id="edit-comment-{{CommentId}}">
{{{RawBody}}}
            </textarea>
            <input
                type="button"
                style="display: none;"
                id="submit-comment-{{CommentId}}"
                onclick="submit({{CommentId}}, '{{Url}}')"
                value="Submit"
                />
            <input
                type="button"
                style="display: none;"
                id="cancel-edit-comment-{{CommentId}}"
                onclick="cancel({{CommentId}})"
                value="Cancel"
                />
            <div id="comment-admin" style="text-align: right">
                <a href="/moderate_comment?id={{CommentId}}&action=delete&redirect_to={{Url}}"
                    onclick="return confirm('You are about to delete this comment!\nThis cannot be undone!')">
                    <img src="delete.gif" />Delete!</a>
                <input
                    type="button"
                    id="edit-comment-button-{{CommentId}}"
                    onclick="toggleEdit({{CommentId}})"
                    value="Edit"
                    />
            </div>
            {{/AdminLogin}}
            <br />
            <hr />
            {{/Comments}}
        </div>
        {{/HasComments}}
        {{^HasComments}}
        <div class="ten columns alpha">
            &nbsp;
        </div>
        <div class="two columns omega">
            <p>No comments yet</p>
        </div>
        {{/HasComments}}
    </div>

    <form action="comment_submit" method="post" id="comment">
    <div class="twelve columns container">
        <div class="row clearfix">
            <div class="four columns">
                <div><input class="text" name="name" placeholder="Name" type="text" /></div>
                <div><input class="text" name="email" placeholder="Email (will stay private)" type="text" /></div>
                <div><input class="text" name="website" placeholder="Web site" type="text" /></div>
            </div>
        </div>

        <div class="wmd-panel container">
            <div class="row">
                <div id="wmd-preview" class="wmd-preview twelve columns">
                </div>
            </div>
            <div class="row">
                <div id="wmd-button-bar">
                </div>
            </div>
            <textarea
                class="wmd-input twelve columns"
                name="text"
                placeholder="Have a say"
                id="wmd-input"
                ></textarea>
        </div>
    </div>
    <div><input type="submit" value="Submit" /></div>
    </form>
{{/entry}}
            </div>

            {{> sidebar}}

            <hr />
            <div id="footer" />
        </div>
        <script type="text/javascript">
        (function () {
             var converter = new Markdown.getSanitizingConverter();
             var editor = new Markdown.Editor(converter);
             editor.run();
             })();

        function showElement(id, visible) {
            elem = document.getElementById(id);
            elem.style.display = visible ? 'inline-block' : 'none';
            return elem;
        }

        function toggleEdit(id) {
            d = document.getElementById('comment-text-' + id);
            var w = d.offsetWidth;
            var h = d.offsetHeight;

            if (h < 50)
                h = 50;

            d.style.display = 'none';
            e = showElement('edit-comment-' + id, true);
            e.style.width = w + "px";
            e.style.height = h + "px";

            showElement('submit-comment-' + id, true);
            showElement('cancel-edit-comment-' + id, true);
            showElement('edit-comment-button-' + id, false);
        }

        function submit(id, redirectTo) {
            window.location.href = "/moderate_comment?id=" + id
                                   + "&action=edit&redirect_to=" + redirectTo;
        }

        function cancel(id) {
            showElement('comment-text-' + id, true);
            showElement('edit-comment-' + id, false);
            showElement('submit-comment-' + id, false);
            showElement('cancel-edit-comment-' + id, false);
            showElement('edit-comment-button-' + id, true);
        }
        </script>
    </body>
</html>
