{{define "title"}}{{.PageTitle}}{{end}}
{{define "extrahead"}}
    <link rel="stylesheet" href="/static/css/pagedown.css">
    <link rel="stylesheet" href="/static/css/speech-bubble.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <script type="text/javascript" src="/static/js/pagedown-bundle.js"></script>
    <script type="text/javascript" src="/static/js/bundle.js"></script>
{{end}}
{{define "content"}}

    {{template "header" .}}

    {{$AdminLogin := .AdminLogin}}
    <hr />
    <div class="twelve columns content" id="content">
        {{with .entry}}
        <h3 class="strong twelve columns container">
        {{template "post-title" dict "EntryLink" . "AdminLogin" $.AdminLogin}}
        </h3>
        {{template "author" .}}
        <hr />
        <div class="post-body user-supplied-text nine columns container">{{.Body}}</div>
        <div class="three columns container">&nbsp;</div>
        <div class="twelve columns container">
        {{if .HasTags}}
        <div class="nine columns alpha" id="tags">
            <strong>{{L10n "Tags:"}}</strong>
        {{end}}
        {{.TagsStr}}
        {{if .HasTags}}
        <br />
        <br />
        </div>
        {{else}}
        <div class="nine columns alpha">
        &nbsp;
        </div>
        {{end}}
        <div class="three columns omega">
        &nbsp;
        </div>
        </div>

        <div class="twelve columns container" id="comments">
        {{if .HasComments}}
        <div class="nine columns alpha">
            <strong>{{.NumCommentsStr}}:</strong>
        </div>
        <hr />
        <div class="twelve columns">
            {{$post := .}}
            {{range .Comments}}
            <div class="comment-container">
                <div class="avatar-container two columns alpha">
                    <div class="shadow">
                        <img
                            class="commenter-avatar"
                            alt="avatar"
                            src="http://www.gravatar.com/avatar/{{.EmailHash}}?d=mm" />
                    </div>
                </div>
                <div class="bubble-container ten columns omega">
                    <div id="comment-text-{{.CommentID}}"
                        class="comment-body-container speech-bubble left"
                        {{if $AdminLogin}}
                        onclick="toggleEdit('{{.CommentID}}')"
                        {{end}}
                        >
                        <div class="commenter">
                            <p>
                            <strong>
                                {{if .Website}}
                                <a href="{{.Website}}">{{.Name}}</a>
                                {{else}}
                                {{.Name}}
                                {{end}}
                            </strong>
                            {{if $AdminLogin}}
                            &lt;<a href="mailto:{{.Email}}">{{.Email}}</a>&gt;
                            {{end}}
                            <br />
                            <span id="comment-{{.CommentID}}">
                                <a class="dimmed" href="#comment-{{.CommentID}}">{{.Time}}</a><br />
                            </span>
                            </p>
                        </div>
                        <div class="user-supplied-text">
                            {{.Body}}
                        </div>
                    </div>
                </div>
                {{if $AdminLogin}}
                <form
                    id="edit-comment-form"
                    action="moderate_comment?action=edit&amp;redirect_to={{$post.URL}}"
                    method="post"
                    >
                    <div class="twelve columns">
                        <textarea
                            id="edit-comment-{{.CommentID}}"
                            style="display: none; width: 100%;"
                            name="edit-comment-text"
                            >{{.RawBody}}</textarea>
                    </div>
                    <div class="eight columns alpha">
                        <input
                            type="hidden"
                            name="id"
                            value="{{.CommentID}}"
                            />
                        <input
                            id="submit-comment-{{.CommentID}}"
                            type="button"
                            style="display: none;"
                            onclick="submit({{.CommentID}}, '{{$post.URL}}')"
                            value="{{L10n "Submit"}}"
                            />
                        <input
                            id="cancel-edit-comment-{{.CommentID}}"
                            type="button"
                            style="display: none;"
                            onclick="cancel({{.CommentID}})"
                            value="{{L10n "Cancel"}}"
                            />
                        &nbsp;
                    </div>
                    <div id="comment-admin" style="text-align: right" class="four columns omega">
                        <input
                            id="delete-comment-button-{{.CommentID}}"
                            type="button"
                            onclick="deleteWithConfirm({{.CommentID}}, '{{$post.URL}}')"
                            value="{{L10n "Delete!"}}"
                            />
                        <input
                            id="edit-comment-button-{{.CommentID}}"
                            type="button"
                            onclick="toggleEdit({{.CommentID}})"
                            value="{{L10n "Edit"}}"
                            />
                    </div>
                </form>
                {{end}}
            </div>
            <br class="clear" />
            {{end}}
        </div>
        {{else}}
        <div class="nine columns alpha">
            &nbsp;
        </div>
        <div class="three columns omega">
            <p>No comments yet</p>
        </div>
        {{end}}
        </div>

        <form id="comment">
        <div class="twelve columns container">
        <div class="row clearfix">
            <div class="four columns">
                <input
                    id="name"
                    class="text"
                    name="name"
                    placeholder="{{L10n "Name"}}"
                    type="text"
                    value=""
                    />
                <input
                    id="email"
                    class="text"
                    name="email"
                    placeholder="{{L10n "Email (will stay private)"}}"
                    type="text"
                    value=""
                    />
                <input
                    id="website"
                    class="text"
                    name="website"
                    placeholder="{{L10n "Web site"}}"
                    type="text"
                    value=""
                    />
            </div>
            <div id="captcha-alert-box"
                class="six columns captcha-alert-box">
                {{template "captcha" $.CaptchaHtml}}
            </div>
        </div>

        <div class="wmd-panel container">
            <div class="row">
                <div id="wmd-preview" class="wmd-preview twelve columns">
                </div>
            </div>
            <div class="row">
                <div id="wmd-button-bar">
                </div>
            </div>
            <textarea
                id="wmd-input"
                class="wmd-input eleven columns"
                name="text"
                placeholder="{{L10n "Have a say"}}"
                ></textarea>
        </div>
        </div>
        <div class="twelve columns container">
            <input
                type="button"
                value="Submit"
                onclick="submitComment()"
                />
        </div>
        </form>
        {{end}}
    </div>

    {{template "sidebar" .}}

    <hr />
    <div id="footer"></div>

{{end}}
{{define "extrascripts"}}
        <script type="text/javascript">
        (function () {
             getPagedownEditor().run();
             })();

        {{if .AdminLogin}}
        function showElement(id, visible) {
            elem = document.getElementById(id);
            elem.style.display = visible ? 'inline-block' : 'none';
            return elem;
        }

        function toggleEdit(id) {
            d = document.getElementById('comment-text-' + id);
            var w = d.offsetWidth;
            var h = d.offsetHeight;

            if (h < 50)
                h = 50;

            d.style.display = 'none';
            e = showElement('edit-comment-' + id, true);
            e.style.height = h + "px";

            showElement('submit-comment-' + id, true);
            showElement('cancel-edit-comment-' + id, true);
            showElement('edit-comment-button-' + id, false);
        }

        function submit(id, redirectTo) {
            window.location.href = "/moderate_comment?id=" + id
                                   + "&action=edit&redirect_to=" + redirectTo;
        }

        function cancel(id) {
            showElement('comment-text-' + id, true);
            showElement('edit-comment-' + id, false);
            showElement('submit-comment-' + id, false);
            showElement('cancel-edit-comment-' + id, false);
            showElement('edit-comment-button-' + id, true);
        }

        function deleteWithConfirm(id, redirectTo) {
            var q = "{{L10n "You are about to delete this comment!\nThis cannot be undone!"}}";
            if (confirm(q)) {
                var url = "/delete_comment?id=" + id
                          + "&action=delete&redirect_to=" + redirectTo;
                window.open(url, '_self', false);
            }
        }
        {{end}}
        </script>
{{end}}
