<div class="four columns sidebar" id="sidebar">
<nav>
    <p>Recent entries:</p>
    <div>
{{#sidebar_entries}}
<b><a href="{{Url}}">{{Title}}</a></b> <br />
{{/sidebar_entries}}
    </div>
    <a href="/archive">...</a>
    <div style="text-align: right">
        <a href="feed.xml">
            <img src="rss.png"
                 alt="RSS Feed" />
        </a>
    </div>
    <br />
    <br />
    <img src="/vim_created.png" />
    <img src="/gopher.png" />
    <div class="info" style="text-align: center">
        Powered by <a href="http://golang.org/">Go</a>
    </div>
</nav>
</div>
