<div class="four columns sidebar" id="sidebar">
<nav>
    <p>Recent entries:</p>
    <div>
{{#entries}}
<b><a href="{{Url}}">{{Title}}</a></b> <br />
{{/entries}}
    </div>
    <br />
    <br />
    <img src="vim_created.png" />
    <img src="gopher.png" />
    <div class="info" style="text-align: center">
        Powered by <a href="http://golang.org/">Go</a>
    </div>
</nav>
</div>
